<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<!-- BOOTSTRAP -->
<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.2.3/css/bootstrap.min.css}"/>
<title>Foto Album</title>
</head>
<body>
	<!-- HEADER -->
	<header>
		<h1 class="text-center my-5 text-danger">Album</h1>
	</header>
	<!-- Main -->
	<main>
	 <div class="container">
		<table class="table">
		  <thead>
		    <tr>
		      <th scope="col">#</th>
		      <th scope="col">Titolo</th>
		      <th scope="col">Descrizione</th>
		      <th scope="col">Immagine</th>
		      <th scope="col">Visibile</th>
		    </tr>
		  </thead>
		  <tbody>
		  	<tr th:if="${foto.isEmpty()}">
		    	<th scope="row" colspan="5" class="text-center"> Non ci sono foto disponibili </th>
		    </tr>
		    <tr th:each="foto : ${foto}" th:object="${foto}">
		      <th scope="row">[[ *{id} ]]</th>
		      <td> [[ *{title} ]]</td>
		      <td>[[ *{description} ]]</td>
		      <td> <img th:src="*{url}" ></td>
		      <td>[[ *{visible} ]]</td>
		    </tr>
		  </tbody>
		</table>
	 </div>
	</main>

</body>
</html>